- C++
- Polymorphism
- Templates
- Operator Overloading
- 2 levels of inheritance
- Threading
- namespaces
- exception handling
- smart pointers
- constexpr and consteval
- detached/daemon thread to write the game score to a log file
- interthread communication via a thread safe queue
- display time using std::chrono
- use a logging library  